<launch>
    <!-- load Parameters -->
    <rosparam file="$(find avp_mapping)/config/global_config.yaml" command="load" />

    <node name="avp_data_pretreat_node" pkg="avp_mapping" type="avp_data_pretreat_node" ></node> 
    <node name="avp_front_end_node" pkg="avp_mapping" type="avp_front_end_node" ></node>
    <node name="avp_back_end_node" pkg="avp_mapping" type="avp_back_end_node" ></node>
    <node name="avp_loop_closing_node" pkg="avp_mapping" type="avp_loop_closing_node"></node>
    <node name="avp_mapping_node" pkg="avp_mapping" type="avp_mapping_node" ></node> 
</launch>