<launch>

    <!-- load Parameters -->
    <rosparam file="$(find avp_mapping)/config/global_config.yaml" command="load" />

    <!-- simulation environment and robot -->
    <include file="$(find avp_mapping)/launch/robot_with_cameras.launch" />

    <!-- visualization -->
    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find avp_mapping)/rviz/avp_mapping.rviz" 
          required="true" />
    
    <!-- <node name="avp_data_pretreat_node" pkg="avp_mapping" type="avp_data_pretreat_node" ></node>  -->
    
</launch>